$primary-yellow: #F4DA40;
$primary-red: #C8102E;
$primary-blu: #002677;
$primary-cyan: #199BFC;
$primary-darkgray: #25282A;
$primary-lightgray: #D9D9D6;

$color-giurisprudenza: #0061A0;
$color-sc-mfn: #007C58;
$color-sc-politiche: #00A7B5;
$color-lingue: #A4BCC2;
$color-ingegneria: #574676;
$color-sc-formazione: #9B3259;
$color-farmacia: #E0A4A1;
$color-medicina: #EF3340;
$color-design: #F4633A;
$color-economia: #F1C400;
$color-filosofia: #B79A81;

$icon-size: 30px;


.body-page{
  min-height: 650px;
}

.star-size-md{
  font-size: 25px;
}
.star-yellow{
  color: #ffc107!important;;
}
